{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/myteam" method="POST">
        <fieldset>
            <legend>Create A New Team</legend>
            <label class="form-label">Team Name:</label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter team name"
            >
        </fieldset>
        <input 
            type="submit" 
            value="Create New Team" 
            class="btn btn-success"
        >
    </form>
</div>
{% endblock %}