{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-1">Fantasy Draft App</h2>
    <div class="row">
        <ol class="list-group list-group-numbered">
            {% for each player in playerPool %}
                <li class="list-group-item">A list item</li>
                <li class="list-group-item">A list item</li>
                <li class="list-group-item">A list item</li>
            {% endfor %}    
          </ol>
    </div>
</div>

{% endblock %}