{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-1">Fantasy Draft App</h2>
        <div class="row">
            <h1>{{player.Name}}</h1>

            
            {% for player in players %}
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">PlayerName: {{player.Name}}</li>
                </ol>
            {% endfor %}    
        </div>
</div>

{% endblock %}