{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/draft" method="POST">
        <fieldset>
            <legend>Create A New Team</legend>
            <label class="form-label"></label>
            <input 
                class="form-control" 
                type="text" 
                name="name" 
                placeholder="enter team name"
            >
        </fieldset>
        <input 
            type="submit" 
            value="Create New Team" 
            class="btn btn-success"
        >
    </form>
    <!-- <h3>My Teams: {{teams.length}}</h3> -->
    <h3>My Teams</h3>
    {% for team in teams %}
        <h5><a href="/draft/myteam"> {{team.name}}
            <form action="/newteam/{{team._id}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete Team" class="btn btn-danger">
            </form></h5>
    {% endfor %}
</div>
{% endblock %}