{% layout 'layout.liquid' %}

{% block content %}
<div>
    <h2 class="display-1">Fantasy Draft App</h2>
    <div class="row">
        
        <a href="/users/login" class="btn btn-success">Log In</a>
        <h9>Don't have an account? Create an one<a href="/users/signup">here.</a></h9>
    </div>
</div>

{% endblock %}